<!--! Start of mozilla.html. From MDN Web Docs https://developer.mozilla.org/ -->
<!--! yari https://github.com/mdn/yari, MPL 2.0 https://mozilla.org/MPL/2.0/ -->
<ul class="mozilla">
  <li>
    <a href="mailto:{{ site.author.email | encode_email }}"
      class="icon icon-email">
      <span class="visually-hidden">Email</span>
    </a>
  </li>

  <li>
    <a href="{{ '/feed.xml' | relative_url  }}" type="application/atom+xml"
      class="icon icon-rss">
      <span class="visually-hidden">RSS/Atom Feed</span>
    </a>
  </li>

  <li>
    <a href="{{ '/sitemap.xml' | relative_url  }}" type="application/xml"
      class="icon icon-sitemap">
      <span class="visually-hidden">Sitemap</span>
    </a>
  </li>
</ul>
<!--! End of mozilla.html -->
