<nav class="pagination" aria-label="Pagination">
  {% if paginator.previous_page %}
  <a class="pagination-item newer" rel="prev"
    href="{{ paginator.previous_page_path | relative_url }}">Newer</a>
  {% else %}
  <span class="pagination-item newer">Newer</span>
  {% endif %}

  <span class="pagination-item">
    Page {{ paginator.page }} of {{ paginator.total_pages }}
  </span>

  {% if paginator.next_page %}
  <a class="pagination-item older" rel="next"
    href="{{ paginator.next_page_path | relative_url }}">Older</a>
  {% else %}
  <span class="pagination-item older">Older</span>
  {% endif %}
</nav>
