// Wrapper
//
// The wrapper is used to position site content when the sidebar is toggled. We
// use an outter wrap to position the sidebar without interferring with the
// regular page content.

.wrap {
  position: relative;
  width: 100%;
}
