/*!
 * Styles from Neo-Lanyon
 * https://github.com/zwotzie/neo-lanyon
 */

:root {
  --neo-gray: #555;
}

.anchor-left {
  float: left;
}

.anchor-right {
  float: right;
}

@media (max-width: 22.5em) {
  .hide-small {
    display: none;
  }
}

.post-meta {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  margin: 50px 30px 30px;
  text-align: center;
}

.tag-list {
  list-style: outside none none;
  margin: 0 50px 30px 30px;
  padding-left: 0;
  font-size: 0.75rem;
  text-align: center;

  li {
    display: inline;
    list-style-type: none;
  }
}

.tag {
  background-color: var(--neo-gray);
  border-radius: 3px;
  display: inline-block;
  margin: 4px;

  span {
    float: left;
    padding: 2px 6px;
    text-transform: uppercase;
    color: var(--white);
  }

  .count {
    background-clip: padding-box;
    background-color: rgba(136, 136, 136, 0.8);
    border-radius: 0 3px 3px 0;
  }

  &:hover {
    background-color: #888;
  }
}
