/*!
 * Styles from Neo-Lanyon
 * https://github.com/zwotzie/neo-lanyon
 */

:root {
  --neo-gray-000: #bbb;
  --neo-gray-100: #888;
  --neo-gray-200: #555;
}

.anchor-left {
  float: left;
}

.anchor-right {
  float: right;
}

@media (max-width: 22.5em) {
  .hide-small {
    display: none;
  }
}

.post-meta {
  font-size: 0.75rem;
  margin: 50px 30px 30px;
  text-align: center;
  color: var(--neo-gray-000);

  a {
    color: inherit;
  }

  .tag {
    background-color: var(--neo-gray-200);
    border-radius: 3px;
    color: var(--white);
    display: inline-block;
    margin: 4px;

    span {
      float: left;
      padding: 2px 6px;
    }

    &:hover {
      background-color: var(--neo-gray-100);
    }
  }
}
