/*!
 * Styles from Neo-Lanyon
 * https://github.com/zwotzie/neo-lanyon
 */

:root {
  --neo-gray: #555;
}

.anchor-left {
  float: left;
}

.anchor-right {
  float: right;
}

@media (max-width: 22.5em) {
  .hide-small {
    display: none;
  }
}

.post-meta {
  font-size: 0.75rem;
  margin: 50px 30px 30px;
  text-align: center;

  span {
    color: var(--neo-gray);

    @media (prefers-color-scheme: dark) {
      color: var(--white);
    }
  }

  .tag {
    background-color: var(--neo-gray);
    border-radius: 3px;
    display: inline-block;
    margin: 4px;

    .term {
      float: left;
      padding: 2px 6px;
    }

    &:hover {
      background-color: #888;
    }
  }
}
